
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #f6f8fc;
    min-height: auto;
    padding: 1rem;
    width: 100%;
}

.content {
    width: auto;
    height: 100vh;    
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


